{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <!-- Profile Header with Name -->
    <h2> {{ profile.name }}</h2>

    <div class="row">
        <!-- Profile Picture -->
        <div class="col-4 text-center">
            <img src="{% static 'images/profile.jpg' %}" class="rounded-circle" alt="Profile Picture" style="width: 150px; height: 150px;">
            <br><br>
            <button class="btn btn-primary">Edit Profile Picture</button>
        </div>

        <!-- Profile Details -->
        <div class="col-8">
            <h4>Profile Details</h4>
            <ul>
                <li><strong>Name:</strong> {{ profile.name }}</li>
                {% if profile.type_id != 1 %} {# If the profile is not a buyer #}
                    <li><strong>Type</strong> {{ profile.type.name }}</li>
                    <li><strong>SSN:</strong> {{ profile.ssn }}</li>
                {% endif %}
                {% if profile.type == 3 %} {# Check if agency #}
                    <li><strong>Address:</strong> {{ user.address }}</li>
                {% endif %}


            </ul>
            <button class="btn btn-secondary">Edit Profile</button>
        </div>
    </div>
    {# If profile is a buyer #}
    {% if profile.type_id == 1 %}
        <!-- Purchase Offer section-->
        {% include "purchaseoffer/purchaseoffers.html"%}

    {# If profile is a seller #}
    {% else %}
        <!-- Property section-->
        {% for property in properties %}
            {# {% include "property/single_property.html" with is_detail=False %} #} {# TODO uncomment this when single_property is fixed #}
        {% endfor %}
    {% endif %}
{% endblock %}




