{% load static %}

<div class="p-3 border border-dark rounded shadow-sm bg-light h-100">
  <div class="mb-2">
      <strong>{{ offer.property.address }}</strong><br>
      Offer: {{ offer.offer }}<br>
      Seller: {{ offer.seller.name }}
  </div>
  <hr class="my-2 border-dark">
  <div>
      Created: {{ offer.created_at }}<br>
      Expires: {{ offer.expires_at }}<br>
      Status: {{ offer.status }}<br>

      {% if is_buyer %}
          {% if offer.status == "Accepted" or offer.status == "Contingent" %}
              <a href="{{ offer.finalize_url }}" class="btn btn-success btn-sm mt-2">Finalize Purchase</a>
          {% endif %}
      {% endif %}
  </div>
</div>


