{# TODO Add purchase offer database functionality #}
{# TODO Add authorization authentication so not everyone see's others purchase offers #}
{% extends 'base.html' %}
{% block content %}
<div class="mt-5">
        <h4>Purchase Offers</h4>
    {% if is_buyer %}
        {% for offer in offers %}
            {% include "purchaseoffer/_single_buyer_purchaseoffer.html" with offer=offer %}
        {% endfor %}
    {% else %}
        {% for offer in offers %}
            {% include "purchaseoffer/_single_seller_purchaseoffer.html" with offer=offer %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}