{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <form id="filter-form" method="get">
    <!-- Zip Code Dropdown -->
    <select name="zipcode">
      <option value="">Zip Code</option>
      {% for zip in zipcodes %}
        <option value="{{ zip }}" {% if zip == request.GET.zipcode %}selected{% endif %}>
          {{ zip }}
        </option>
      {% endfor %}
    </select>

    <!-- Property Type Dropdown -->
    <select name="property_type">
      <option value="">Property Type</option>
      {% for type in property_types %}
        <option value="{{ type }}" {% if type == request.GET.property_type %}selected{% endif %}>
          {{ type }}
        </option>
      {% endfor %}
    </select>

    <!-- Price Order Dropdown -->
    <select name="price_order">
      <option value="">Price</option>
      <option value="low" {% if request.GET.price_order == 'low' %}selected{% endif %}>Low to High</option>
      <option value="high" {% if request.GET.price_order == 'high' %}selected{% endif %}>High to Low</option>
    </select>

    <!-- Search Input -->
    <div class="input-group mb-3 mt-3">
      <span class="input-group-text" id="search-icon">🔍</span>
      <input type="search" id="search-value"  class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-icon" />
    </div>


  </form>

  <!-- Property Grid: where results will be displayed -->
  <<div id="property-grid">
    {% for property in properties %}
      <div class="property-card">
        <h3>{{ property.name }}</h3>
        <p>{{ property.address }}</p>
        <p>Zip Code: {{ property.zipcode.code }}</p><p>Type: {{ property.type.name }}</p>
        <p>Price: ${{ property.price }}</p>
        <a href="{% url 'property_by_id' property.id %}" class="btn btn-primary btn-sm">View Details</a>
      </div>

    {% endfor %}
  </div>

<!-- Link to JS file -->
<script src="{% static 'js/property_filter.js' %}"></script>
{% endblock %}
