{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">

  <div class="row">
    <!-- Property Image -->
    <div class="col-md-6">
    {% with property.main_image as main_img %}
      {% if main_img %}
        <img src="{{ main_img.image.url }}" class="img-fluid rounded" alt="Property Image">
      {% else %}
        <img src="{% static 'images/featured_apartment.jpg' %}" class="img-fluid rounded" alt="No Image Available">
      {% endif %}
    {% endwith %}
    </div>

    <!-- Property Details -->
    <div class="col-md-6">
      <h2>
        {{ property.address }}
        {% if property.is_sold %}
          <span class="badge bg-danger ms-2">SOLD</span>
        {% endif %}
      </h2>
      <p><strong>Type:</strong> {{ property.type.name }}</p>
      <p><strong>Location:</strong> {{ property.zipcode }}</p>
      <p><strong>Price:</strong> {{ property.price }} ISK</p>
      <p><strong>Listing Date:</strong> {{ property.list_date }}</p>
      <p><strong>Bedrooms:</strong> {{ property.beds }}</p>
      <p><strong>Bathrooms:</strong> {{ property.bath }}</p>
      <p><strong>Size:</strong> {{ property.size }} m²</p>

      <!-- Seller Info -->
      <div class="seller-info mt-4 d-flex justify-content-between align-items-center">
          <div>
              <p><strong>Seller:</strong> {{ property.seller.profile.name }}</p>
              <a href="{% url 'profile-by-id' property.seller.id %}" class="btn btn-outline-primary btn-sm">View
                  Seller Info</a>
          </div>
            {% if property.seller.profile.image %}
            <img src="{{ property.seller.profile.image.url }}" class="rounded-circle seller-img" alt="Seller Image"
                 width="60" height="60">
            {% endif %}
      </div> <br>


        {% if user.is_authenticated %}
        {% if not property.is_sold %}
          <form action="{% url 'make-offer' property.id %}" method="post">
            {% csrf_token %}
              {{ form }}
              <button class="btn btn-primary">Submit a purchase offer</button>
          </form>
        {% else %}
          <div class="alert alert-warning mt-3">
            This property has been sold. New offers are no longer accepted.
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <!-- Description -->
  <div class="mt-5">
    <h4>Description</h4>
    <p>{{ property.description }}</p>
  </div>

  <!-- Other Properties -->
  <div class="mt-5">
    <h4>Other Properties for Sale</h4>
      {% for p in other_properties %}
          {% include "property/_available_properties.html" with property=p %}
      {% endfor %}
        </div>
    </div>
  </div>

{% endblock %}
