{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="container mt-5 mb-5">

  <div class="row">
      <!-- Property Image -->#}
      <div class="col-md-6">
      {% if property.images.all %}
        <div id="propertyCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for img in property.images.all %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ img.image.url }}" class="d-block w-100 rounded" alt="Property Image">
              </div>
            {% endfor %}
          </div>

          <!-- Controls -->
          <button class="carousel-control-prev" type="button" data-bs-target="#propertyCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#propertyCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      {% else %}
        <img src="{% static 'images/featured_apartment.jpg' %}" class="img-fluid rounded" alt="No Image Available">
      {% endif %}
      </div>


    <!-- Property Details -->
    <div class="col-md-6">
      <h2>
        {{ property.address }}
        {% if property.is_sold %}
          <span class="badge bg-danger ms-2">SOLD</span>
        {% endif %}
      </h2>
      <p><strong>Type:</strong> {{ property.type.name }}</p>
      <p><strong>Location:</strong> {{ property.zipcode }}</p>
      <p><strong>Price:</strong> {{ property.price|dot_separator }} ISK</p> <!--new-->
      <p><strong>Listing Date:</strong> {{ property.list_date }}</p>
      <p><strong>Bedrooms:</strong> {{ property.beds }}</p>
      <p><strong>Bathrooms:</strong> {{ property.bath }}</p>
      <p><strong>Size:</strong> {{ property.size }} m²</p>

      <!-- Seller Info -->
      <div class="seller-info mt-4 d-flex align-items-center">
        {% if property.seller.profile_image %}
          <img src="{{ property.seller.profile_image.url }}" class="rounded-circle me-3 seller-img" alt="Seller Image">
        {% endif %}
          <div>
              <p><strong>Seller:</strong> {{ property.seller.profile.name }}</p>
              <a href="{% url 'profile-by-id' property.seller.id %}" class="btn btn-outline-primary btn-sm">View
                  Seller Info</a>
          </div>
      </div>

      {% if user.is_authenticated %}
        {% if not property.is_sold %}
          <form action="{% url 'make-offer' property.id %}" method="post">
            {% csrf_token %}
              {{ form }}
              <button class="btn btn-primary">Submit a purchase offer</button>
          </form>
        {% else %}
          <div class="alert alert-warning mt-3">
            This property has been sold. New offers are no longer accepted.
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <!-- Description -->
  <div class="mt-5">
    <h4>Description</h4>
    <p>{{ property.description }}</p>
  </div>

  <!-- Other Properties -->
  <div class="mt-5">
    <h4>Other Properties for Sale</h4>
      <div class="row">
        {% for p in other_properties %}
          <div class="col-md-4 mb-4">
            {% include "property/_available_properties.html" with property=p %}
          </div>
        {% endfor %}
      </div>
  </div>
</div>

{% endblock %}
