{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
   {% if messages %}
    <div class="mt-3">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="row">
    <!-- Property Image -->
    <div class="col-md-6">
      {% if property.images.first %}
        <img src="{{ property.images.first.image.url }}" class="img-fluid rounded" alt="Property Image">
      {% else %}
        <img src="{% static 'images/no-image.png' %}" class="img-fluid rounded" alt="No Image Available">
      {% endif %}
    </div>

    <!-- Property Details -->
    <div class="col-md-6">
      <h2>{{ property.address }}</h2>
      <p><strong>Type:</strong> {{ property.type.name }}</p>
      <p><strong>Location:</strong> {{ property.zipcode }}</p>
      <p><strong>Price:</strong> {{ property.price }} ISK</p>
      <p><strong>Listing Date:</strong> {{ property.list_date }}</p>
      <p><strong>Bedrooms:</strong> {{ property.beds }}</p>
      <p><strong>Bathrooms:</strong> {{ property.bath }}</p>
      <p><strong>Size:</strong> {{ property.size }} m²</p>

      <!-- Seller Info -->
      <div class="seller-info mt-4 d-flex align-items-center">
        {% if property.seller.profile_image %}
          <img src="{{ property.seller.profile_image.url }}" class="rounded-circle me-3 seller-img" alt="Seller Image">
        {% endif %}
        <div>
          <p><strong>Seller:</strong> {{ property.seller }}</p>
        </div>
      </div>
    {% if user.is_authenticated %}
        <form action="{% url 'make-offer' property.id %}" method="post">
        {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary" >Submit a purchase offer</button>
        </form>
    {% endif %}
    </div>
  </div>

  <!-- Description -->
  <div class="mt-5">
    <h4>Description</h4>
    <p>{{ property.description }}</p>
  </div>

  <!-- Other Properties -->
  <div class="mt-5">
    <h4>Other Properties for Sale</h4>
    <div class="row">
      {% for p in other_properties %}
        <div class="col-md-4 mb-4">
          <div class="card">
            {% if p.images.first %}
              <img src="{{ p.images.first.image.url }}" class="card-img-top" alt="...">
            {% else %}
              <img src="{% static 'images/featured_apartment.jpg' %}" class="card-img-top" alt="...">
            {% endif %}<div class="card-body">
              <h5 class="card-title">{{ p.address }}</h5>
              <p class="card-text">{{ p.price }} ISK</p>
              <a href="{% url 'property_by_id' p.id %}" class="btn btn-sm btn-primary">View</a>
                </div>
          </div>
        </div>
      {% endfor %}
        </div>
    </div>
  </div>

{% endblock %}
