{% extends "base.html" %}
{% load static %}
from django.conf import settings

{% block content %}
<div class="container mt-3">
  <!-- Big Featured Property -->
  {% if featured %}
    <div class="row justify-content-center mb-4">
      <div class="col-lg-7.5">
        <div class="card border-0">
          {% if featured.images.first %}
            <img src="{{ featured.images.first.image.url }}" class="img-fluid featured-image rounded-top" alt="Featured Property">
          {% else %}
            <img src="{% static 'images/no_image.png' %}" class="img-fluid featured-image rounded-top" alt="Default Featured Image">
          {% endif %}
          <div class="card-body">
            <h4 class="card-title">{{ featured.address }}</h4>
            <p class="card-text">{{ featured.beds }} 🛏️ • {{ featured.bath }} 🛁 • {{ featured.size }} 📐</p>
            <p class="card-text"><strong>${{ featured.price }}</strong></p>
            <a href="{% url 'property_by_id' featured.id %}" class="btn btn-primary btn-sm">View Details</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Popular Listings -->
  <h3>Popular Listings</h3>
  <div class="row">
    {% for property in popular %}
      <div class="col-md-4">
        <div class="card mb-4">
          {% if property.images.first %}
            <img src="{{ property.images.first.image.url }}" class="card-img-top" alt="Property Image">
          {% else %}
            <img src="{% static 'images/no_image.png' %}" class="card-img-top" alt="Default Image">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ property.address }}</h5>
            <p class="card-text">{{ property.beds }} 🛏️ • {{ property.bath }} 🛁 • {{ property.size }}  📐</p>
            <p class="card-text"><strong>${{ property.price }}</strong></p>
            <a href="{% url 'property_by_id' property.id %}" class="btn btn-primary btn-sm">View Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
