
{{ profile.name }}
<div class="col-8">
    <h4>Profile Details</h4>
    <ul>
        <li><strong>Name: </strong>{{ profile.name }}</li>
        <li><strong>Type: </strong>{{ profile.type.name }}</li>
        {% if profile.type_id == 3 %} {# Check if agency #}
            <li><strong>Address: </strong>{{ profile.address }}</li>
            <li><strong>City: </strong>{{ profile.zipcode.city.name }}</li>
            <li><strong>Zip: </strong>{{ profile.zipcode.code }}</li>
        {% endif %}
        <li><strong>Biography: </strong>{{ profile.bio }}</li>
    </ul>
</div>