{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
    {% if profile.type_id != 1 %}
        {% include 'user/_banner.html' with profile=profile%}
    {% endif %}
        <!-- Profile Header with Name -->
        <h2> {{ profile.name }}</h2>

        <div class="row-1">
            <!-- Profile Picture -->
            <div class="col-4 text-center">
                {% if profile.image %}
                    <img src="{{ profile.image.url }}" class="rounded-circle avatar" alt="Profile Picture">
                {% else %}
                    <img src="{% static 'images/default_profile.jpg' %}" class="rounded-circle avatar" alt="Profile Picture">
                 {% endif %}
            </div>
            <!-- Profile information -->
        <div class="row-2">
            {% if profile.type == 1 %}
                {% include 'user/_buyer_info.html' with profile=profile %}
            {% else %}
                {% include 'user/_seller_info.html' with profile=profile %}
            {% endif %}
        </div>
        {# Hidden profile form #}
        <form method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary" value="Update"/>
        </form>
    </div>
{% endblock %}