{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
    {% if profile.type_id != 1 %}
        {% include 'user/_banner.html' with profile=profile%}
    {% endif %}
        <div class="row-1">
            <!-- Profile Picture and name header -->
            <div class="col-4 text-center">
            <h2> {{ profile.name }}</h2>
                {% if profile.image %}
                    <img src="{{ profile.image.url }}" class="rounded-circle avatar" alt="Profile Picture">
                {% else %}
                    <img src="{% static 'images/default_profile.jpg' %}" class="rounded-circle avatar" alt="Profile Picture">
                 {% endif %}
            </div>
            <!-- Profile information -->
        <div class="row-2">
            {% if profile.type_id == 1 %}
                {% include 'user/_buyer_info.html' with profile=profile %}
            {% else %}
                {% include 'user/_seller_info.html' with profile=profile %}
            {% endif %}
        </div>
        {# Hidden profile form #}
        {% if request.user == profile.user %}{# Don't want to render this when others are checking the page #}
            <form id="edit-profile-form" style="display: none" method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn btn-primary" value="Update"/>
            </form>
            <button id="toggle-edit-profile-button" class="btn btn-primary" onclick="displayEditProfileButtonForm()" value="Submit a purchase offer"></button>
        {% endif %}
    </div>
{% endblock %}